<html data-ng-app="redrugsApp" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../javascript/bootstrap.min.js"></script>
    <script src="https://sadi.googlecode.com/svn/trunk/javascript/sadi.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    <script src="../javascript/arbor.js"></script>
    <script src="http://bumbu.github.io/cytoscape.js/lib/springy.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
    <script src="../javascript/redrugs.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css" />

<head>
  <title>Repurposing Drugs with Semantics</title>
</head>

<body data-ng-controller="ReDrugSCtrl">
  <div id="page">

    <div id="starting-box" class="opaque centered-box cb-small">
      <h1>Repurposing Drugs with Semantics</h1>
      <form class="form-horizontal" data-ng-submit="addToGraph(searchTerms)">
        <div>
          <input class="searchBox input-xlarge" data-ng-model="searchTerms" type="text" data-provide="typeahead" autocomplete="off" placeholder="Drug, gene, or disease. Ex. Topiramate" />
          <input class="btn" type="submit" value="Search" />
        </div>
      </form>
      <i class="help fa fa-info-circle fa-lg"></i>
      <ul class="help-info centered-box cb-small">
        <li>This web application is intended to help discover new possible purposes for existing FDA approved drugs by searching either a specific drug, disease, or gene and exploring interactions made by these entities.</li>
        <li>Please contact us if you have any questions or issues at something@rpi.edu</li>
      </ul>
    </div>

    <div id="interface" class="hidden">
      <div id="search-box" class="opaque">
        <button id="min-search" class="btn btn-small"><i class="fa fa-chevron-circle-left"></i></button>
        <div id="max-search">
          <h2>Repurposing Drugs with Semantics</h2>
          <form class="form-horizontal" data-ng-submit="addToGraph(searchTerms)">
            <div>
              <input class="searchBox" data-ng-model="searchTerms" type="text" data-provide="typeahead" autocomplete="off"/>
              <input class="btn" type="submit" value="Search" />
              <img id="loader" data-ng-show="loading" src="../img/loader.gif"/>
            </div>
          </form>
          <div id="btns">
            <!-- <button id="legend-open" class="btn btn-small" type="button"><i class="fa fa-th-large"></i> Legend</button> -->
            <a href="#legend-box" role="button" class="btn btn-small" data-toggle="modal"><i class="fa fa-th-large"></i> Legend</a>
            <div class="btn-group">
              <button id="zoom-in" class="btn btn-small"><i class="fa fa-search-plus"></i></button>
              <button id="zoom-fit" class="btn btn-small"><i class="fa fa-search"></i></button>
              <button id="zoom-out" class="btn btn-small"><i class="fa fa-search-minus"></i></button>
            </div>
            <a href="#options-box" role="button" class="btn btn-small" data-toggle="modal"><i class="fa fa-sliders"></i> Options</a>
            <a href="#help-box" role="button" class="btn btn-small" data-toggle="modal"><i class="fa fa-question"></i> Help</a>
          </div>
          <div class="alert alert-success" data-ng-show="!loading &amp;&amp; loaded != null">Found {{loaded}} connections.</div>
          <div class="alert alert-danger" data-ng-show="!loading &amp;&amp; error">Server Error. Sorry about that, please try again later.</div>
        </div>
      </div>

      <div id="button-box" class="btn-group hidden">
        <button data-ng-click="getUpstream(getSelected())" type="button" class="btn">
          <i class="fa fa-backward"/> Find upstream
        </button>
        <button id="details" data-ng-click="getDetails(getSelected())" type="button" class="btn">Details</button>
        <button data-ng-click="getDownstream(getSelected())" type="button" class="btn">
          Find downstream <i class="fa fa-forward"/>
        </button>
      </div>
    </div>

    <div id="results"></div>

    <div id="legend-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="legend" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="legend-lbl">Legend</h2>
      </div>
      <div class="modal-body">
        <h3>Nodes</h3>
        <ul class="nodes-legend">
          <li><div class="activator square"></div><span>Activator</span></li>
          <li><div class="inhibitor square"></div><span>Inhibitor</span></li>
          <li><div class="protein square"></div><span>Protein</span></li>
          <li><div class="other square"></div><span>Undefined</span></li>
        </ul>
        <h3>Edges</h3>
        <ul class="edges-legend">
          <!-- <li><div class="line"></div><span>Something...</span></li> -->
          <li><div id="type1" class="line"></div><span>Triangle = Agonist, Cofactor, Metabolite, or ???</span></li>
          <li><div id="type2" class="line"></div><span>Tee = Antagonist or ???</span></li>
          <li><div id="type3" class="line"></div><span>Circle = Physical Association, Aggregation or Colocalization</span></li>
          <li><div id="type4" class="line"></div><span>Diamond = Phosphorylation Reaction</span></li>
          <li><div id="type5" class="line"></div><span>Square = Protein Cleavage or Cleavage Reaction</span></li>
          <li><div id="type6" class="line"></div><span>None = Connection between molecule, Effector, Direct Interaction, or Association</span></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="options-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="options" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="options-lbl">Options</h2>
      </div>
      <div class="modal-body">
        <form id="layout" class="form-horizontal" data-ng-submit="cy.layout(layout)">
          <h3>Layout</h3>
          <input type="radio" class="radio inline" name="optArbor" id="optArbor" value="arbor" checked="checked" data-ng-model="layout.name"/> Arbor
          <input type="radio" class="radio inline" name="optCircle" id="optCircle" value="circle" data-ng-model="layout.name"/> Circle
          <input type="radio" class="radio inline" name="optCose" id="optCose" value="cose" data-ng-model="layout.name"/> Cose

          <input type="radio" class="radio inline" name="optBF" id="optBF" value="breadthfirst" data-ng-model="layout.name"/> Breadth First
          <input type="radio" class="radio inline" name="optRandom" id="optRandom" value="random" data-ng-model="layout.name"/> Random
          <input id="layout-btn" class="btn btn-small" type="submit" value="Change"/>
        </form>
        <h3>Labels</h3>
        <div class="btn-group">
          <button id="show-lbl" type="button" class="btn btn-small">Show</button>
          <button id="hide-lbl" type="button" class="btn btn-small">Hide until hover</button>
        </div>
        <h3 class="buffer-top">Filter Edges</h3>
        <form id="filter-edges" class="form-horizontal" data-ng-submit="filter(edges)">
          <label class="checkbox">
            <input type="checkbox" value="true" checked="checked" data-ng-model="edges.triangle"/> Triangle = Agonist, Cofactor, Metabolite, or ???
          </label>
          <label class="checkbox">
            <input type="checkbox" value="true" checked="checked" data-ng-model="edges.tee"/> Tee = Antagonist or ???
          </label>
          <label class="checkbox">
            <input type="checkbox" value="true" checked="checked" data-ng-model="edges.circle"/> Circle = Physical Association, Aggregation or Colocalization
          </label>
          <label class="checkbox">
             <input type="checkbox" value="true" checked="checked" data-ng-model="edges.diamond"/> Diamond = Phosphorylation Reaction
          </label>
          <label class="checkbox">
            <input type="checkbox" value="true" checked="checked" data-ng-model="edges.square"/> Square = Protein Cleavage or Cleavage Reaction
          </label>
          <label class="checkbox">
            <input type="checkbox" value="true" checked="checked" data-ng-model="edges.none"/> None = Connection between molecule, Effector, Direct Interaction, or Association
          </label>
          <input id="filter-btn" class="btn btn-small" type="submit" value="Filter"/>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>

    <div id="help-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="options" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="help-lbl">Help</h2>
      </div>
      <div class="modal-body">
        <h3>How To Use</h3>
        <ul>
          <li>Click, drag, and scroll to move around the graph</li>
          <li>Select a node to discover further connections and view more details</li>
        </ul>
        <h3>Data</h3>
        <p>The data is .... from ... Each line represents the generated probability which reflects how likely it is the interaction should take place.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

  </div>
</body>
</html>
