body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background:url("../img/congruent_outline.png");
}
html, body, .container, #page {
  width: 100%;
  height: 100%;
}
h1 {
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  padding-top: 0.5em;
}
h2 {
  font-size: 24px;
  padding: 0;
}
h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #CCC;
  display: block;
}
h4 {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style: none;
}
li {
  padding-bottom: 0.5em;
}
form {
  margin: 5px 0;
}
hr {
  margin: 3px 0;
}

.hidden {
  visibility: hidden;
}
.searchBox {
  padding: 0.3em;
}
.radio {
  position: relative;
  top: -2px;
}
.opaque {
  background-color: rgba(0,0,0,0.5) !important;
}

.centered-box {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 1em
}
.centered-box {
  z-index: 100;
  text-align: center;
}
#centered-box .dropdown-menu {
  width: 57%;
}
.cb-small {
  height: 200px;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
}
.modal-body {
  padding: 0 15px 15px 15px;
}
.help {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  bottom: 0.5em;
  right: 0.5em;
  text-align: left;
}
.help-info {
  z-index: 120;
  background-color: white;
  text-align: left;
  color: black;
  display: none;
}
.help:hover + .help-info {
  display: block;
}

#interface {
  position: absolute;
  z-index: 10;
}
#min-search {
  float: left;
  margin: 6px 6px 10px 0;
}
#search-box {
  color: white;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 15;
  padding: 1em 1em 0 1em;
  width: 330px;
  border-radius: 10px;
}
#search-box, #starting-box { 
  color: white;
}
#max-search h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0 2px 0 0;
  text-align: center;
}
#loader {
  width: 20px;
  float: right;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
#btns {
  margin: 1em 0 1.5em 0;
}

.found {
  background-color: #FFFFFF;
  color: #2C9378;
  border-color: #2C9378;
  text-shadow: 0px 1px 0px #FFFFFF;
}
.not-found {
  background-color: #000000;
  border-color: #FD0140;
  color: #FD0140;
  text-shadow: 0px 1px 0px #000000;
}


.nodes-legend {
  height: 30px;
}
.nodes-legend li {
  float: left;
  padding-right: 30px;
}
.edges-legend {
  overflow-y: auto;
}

.line, .square {
  display: inline-block;
  margin-right: 10px;
}
.activator {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #FFD700;
}
.inhibitor {
  color: #C71585;
}
.protein {
  background-color: #FFA500;
  height: 22px;
  width: 22px;
  margin-left: 2px;
}
.other {
  background-color: #FF7F50;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin-left: 2px;
}

.line {
  width: 75px;
  position: relative;
  top: -1px;
}
#type1 {
  border-bottom: #9AFE2E solid 5px;
} #type2 {
  border-bottom: #C71585 solid 5px;
} #type3 {
  border-bottom: #00FFFF solid 5px;
} #type4 {
  border-bottom: #9800FF solid 5px;
} #type5 {
  border-bottom: #000000 solid 5px;
} #type6 {
  border-bottom: #FF0040 solid 5px;
} #type7 {
  border-bottom: #BABABA solid 5px;
} 
#style1 {
  border-bottom: #BABABA solid 5px;
} #style2 {
  border-bottom: #BABABA dashed 5px;
} #style3 {
  border-bottom: #BABABA dotted 5px;
}

.inline-options {
  display: inline-block;
  margin-top: 1em;
  margin-right: 50px;
}
.inline-h3 {
  float: left;
  margin-right: 0.5em;
  border: #FFF;
}
.inline-btns {
  margin-top: 5px;
}

#layout-btn, #filter-btn {
  float: right;
}
#filter-edges input {
  display: inline-block;
}
.buffer-top {
  margin-top: 10px;
}
#button-box {
  position: relative;
}
#edge-info {
  padding: 10px;
  min-width: 200px;
  z-index: 250;
  background: rgba(0,0,0,0.8);
  position: absolute;
  border-radius: 10px;
  left: 200px;
  color: white;
}
#edge-info:before {
  content:"";
  position: absolute;
  width: 0; 
  height: 0;
  border-right: 0px solid transparent;
  border-top: 21px solid rgba(0,0,0,0.8);
  border-left: 18px solid transparent;
  margin: 6px 0px 0px -28px;
}
#edge-info p {
  padding: 0;
  margin: 0;
}
#edge-style span {
  margin-right: 25px;
}
#results {
  height: 100%;
  width: 100%;
  z-index: 0;
  cursor: pointer;
}

#random-bfs {
  position: absolute;
  bottom: 10px;
  right: 10px;
}