body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}
html, body, .container, #page {
  width: 100%;
  height: 100%;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  padding-top: 0.5em;
}
h2 {
  font-size: 18px;
  margin: 0;
  padding: 0 2px 0 0;
}
h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #CCC;
}
ol, ul {
  list-style: none;
}
li {
  padding-bottom: 0.5em;
}
form {
  margin: 5px 0;
}

.hidden {
  visibility: hidden;
}
.searchBox {
  padding: 0.3em;
}
.radio {
  position: relative;
  top: -2px;
}
.opaque {
  background-color: rgba(204,204,204,0.5) !important;
}

.centered-box {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 1em;
}
.centered-box {
  z-index: 100;
  text-align: center;
}
#centered-box .dropdown-menu {
  width: 57%;
}
.cb-small {
  height: 200px;
  width: 350px;
  margin-top: -120px;
  margin-left: -175px;
}
.cb-large {
  height: 500px;
  width: 350px;
  margin-top: -300px;
  margin-left: -175px;
}
.help {
  cursor: pointer;
  position: absolute;
  padding: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  text-align: left;
}
.help-info {
  display: none;
  z-index: 100;
  text-align: left;
}
.help:hover + .help-info {
  display: block;
}


#interface {
  position: absolute;
  z-index: 10;
}
#search-box {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 15;
  padding: 1em 1em 0 1em;
  width: 330px;
}
#loader {
  width: 20px;
  float: right;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
#btns {
  margin: 1em 0 1.5em 0;
}

/*#legend-box {
  text-align: left;
}*/
.nodes-legend {
  height: 110px;
}
.edges-legend {
  height: 250px;
}
.nodes-legend, .edges-legend {
  overflow-y: auto;
}
.square, .line {
  display: inline-block;
  margin-right: 1.5em;
}
.square {
  width: 10px;
  height: 10px;
  background-color: #4679BD;
}
.line {
  display: inline-block;
  width: 50px;
  height: 5px;
  position: relative;
  top: -1px;
}
#type1, #type2, #type3, #type4, #type5, #type6 {
  background-color: #4679BD;
}

#layout-btn {
  float: right;
}
#button-box {
  position: relative;
}
#results {
  height: 100%;
  width: 100%;
  z-index: 0;
}